<?xml version="1.0"?>

<launch>
  <master auto="start"/>
  <include file="$(find Hector_SLAM_Navigation)/launch/hector_hokuyo.launch"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find Hector_SLAM_Navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find Hector_SLAM_Navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find Hector_SLAM_Navigation)/param/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find Hector_SLAM_Navigation)/param/global_costmap_params.yaml" command="load"/>
    <!--<rosparam file="$(find Hector_SLAM_Navigation)/param/base_local_planner_params.yaml" command="load"/>-->
    <rosparam file="$(find Hector_SLAM_Navigation)/param/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find Hector_SLAM_Navigation)/param/move_base_params.yaml" command="load"/>
  </node>
</launch>
